fastapi>=0.112.0
starlette>=0.38.0
uvicorn[standard]==0.30.1
qdrant-client==1.9.1
redis==5.0.4
groq==0.8.0
google-generativeai>=0.7.0
protobuf>=5.26.1,<6
sentence-transformers==2.7.0
PyJWT==2.8.0
python-dotenv==1.0.1
rank_bm25==0.2.2
httpx==0.27.2
